@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2-variations');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply overflow-x-hidden text-black antialiased;
  }

  main {
    @apply mx-8 flex min-h-screen max-w-[1240px] flex-col justify-between xl:m-auto;
  }

  .link {
    @apply relative cursor-pointer whitespace-nowrap py-2 text-label-medium before:absolute before:bottom-0 before:left-0 before:right-0 before:my-2 before:block before:h-0.5 before:translate-y-1 before:bg-transparent before:transition-all hover:before:translate-y-0.5 hover:before:bg-green-900;
  }

  .link.--underline {
    @apply before:bg-green-900;
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .row-input {
    @apply flex flex-col gap-2 sm:flex-row;
  }
}
